a {
    text-decoration: none;
    color: white
}

a:hover{
    color: #56267e35
}

button{
    background:  #843bc035;
    margin: 10px;
    padding: 20px;
    border-radius: 15px; 
}

button:hover{
    background: rgba(255, 255, 255, 0.644);
}

h2{
    font-size: 24px;
    color: #785c91dc;
}